# Web Scraping for Indeed.com & Predicting Salaries

In this project, we will practice two major skills: collecting data by scraping a website and then building a binary classifier.

We are going to collect salary information on data science jobs in a variety of markets. Then using the location, title, and summary of the job we will attempt to predict the salary of the job. For job posting sites, this would be extraordinarily useful. While most listings DO NOT come with salary information (as you will see in this exercise), being to able extrapolate or predict the expected salaries from other listings can help guide negotiations.

Normally, we could use regression for this task; however, we will convert this problem into classification and use a random forest classifier, as well as another classifier of your choice; either logistic regression, SVM, or KNN. 

- **Question**: Why would we want this to be a classification problem?
- **Answer**: While more precision may be better, there is a fair amount of natural variance in job salaries - predicting a range be may be useful.

Therefore, the first part of the assignment will be focused on scraping Indeed.com. In the second, we'll focus on using listings with salary information to build a model and predict additional salaries.

### Scraping job listings from Indeed.com

We will be scraping job listings from Indeed.com using BeautifulSoup. Luckily, Indeed.com is a simple text page where we can easily find relevant entries.

First, look at the source of an Indeed.com page: (http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10")

Notice, each job listing is underneath a `div` tag with a class name of `result`. We can use BeautifulSoup to extract those.

#### Set up a request (using requests) to the URL below. Use BeautifulSoup to parse the page and extract all results (HINT: Look for div tags with class name result)
The URL here has many query parameters
- q for the job search
- This is followed by "+20,000" to return results with salaries (or expected salaries >$20,000)
- l for a location
- start for what result number to start on

In [52]:
#URL = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

In [2]:
import requests
import pandas as pd
import bs4
import urllib
from bs4 import BeautifulSoup
import time

# Sandbox

In [3]:
jobs = pd.read_csv('../../project_3_data/jobsdf_exp.csv')

In [14]:
jobs.dropna(inplace=True)
jobs.drop_duplicates(keep = 'first')
#jobs.drop('Unnamed: 0', axis = 1, inplace = True)
jobs.drop(jobs.salarytxt == 0, inplace = True)
print jobs.shape
jobs.salarytxt.describe()

ValueError: labels [ True False False False False False  True  True False  True  True  True
 False False  True False False False False False False False  True False
  True False  True False False False  True False  True False  True  True
  True  True  True False False False False  True  True False False False
  True False False False  True False False False  True False False  True
 False False False False False False False False  True False False False
 False False False False  True False  True False False False False  True
 False  True  True False False False  True False  True False False False
 False  True  True  True False False False False False False False  True
 False False False False False False False False False False] not contained in axis

In [77]:
# Dropping the unnamde column - it hid a lot of duplicates

In [78]:
jobs = jobs.drop('Unnamed: 0',axis = 1)

In [79]:
jobs.duplicated().count()

14562

In [80]:
jobs = jobs.drop_duplicates()
jobs.shape

(7934, 6)

In [81]:
jobs = jobs.dropna()
print jobs.shape

jobs.shape
jobs[jobs.salarytxt < 20000]

(405, 6)

,jobtitle,company,city,location,salarytxt,summary
7,entry level – research analyst/editor/content ...,"XG Consultants Group, Inc.",New+York%2CNY,"New York, NY 10017 (Midtown area)",15.0,job overview: xg consultants group is looking ...
350,scientist / chemist,On-Board Services,New+York%2CNY,"Franklin Lakes, NJ",40.0,hiring a contract scientist / chemist. experie...
946,technician b,Columbia University,New+York%2CNY,"New York, NY",23.0,experience analyzing large ngs data; the indiv...
2539,data scientist,Workbridge Associates,Chicago,"Chicago, IL",65.0,a major healthcare corporation that is buildin...
2766,medical technologist ii – microbiology- john h...,Cook County Health & Hospitals System,Chicago,"Chicago, IL",24.0,"medical technologist (mt), clinical laboratory..."
2774,medical technologist ii – chemistry- john h. s...,Cook County Health & Hospitals System,Chicago,"Chicago, IL",24.0,"medical technologist (mt), clinical laboratory..."
2818,medical technologist iii - john h. stroger hos...,Cook County Health & Hospitals System,Chicago,"Chicago, IL",28.0,"an accredited medical technologist (amt), clin..."
2987,data scientist,PDDN Inc,San+Francisco,"San Mateo, CA",60.0,data analytics experience do you have:. the te...
3041,video machine learning - field position/yard l...,WingWarp Inc.,San+Francisco,"San Francisco, CA 94158 (South Of Market area)",10000.0,we would like to process real time video of a ...
3367,sr associate research operations - 3289,Amerit Consulting,San+Francisco,"South San Francisco, CA 94080",34.0,the successful applicant must be able to indep...
4009,"bench scientist i (t-cell, cart, single cell s...",Aequor Technologies,San+Francisco,"South San Francisco, CA 94080",38.0,job title: bench scientist i location: san f...
4992,research engineering/ scientist assistant,University of Texas at Austin,Austin,"Austin, TX",2666.0,obtain phenotypic data from biological specime...
5004,research engineering/ scientist associate i (e...,University of Texas at Austin,Austin,"Austin, TX",2916.0,purpose to conduct scientific research in dr. ...
5134,engineering scientist associate - research sof...,University of Texas at Austin,Austin,"Austin, TX",5000.0,two or more years experience with data managem...
5135,engineering scientist associate - research sof...,University of Texas at Austin,Austin,"Austin, TX",5000.0,two or more years experience with data managem...
5138,engineering scientist - senior research softwa...,University of Texas at Austin,Austin,"Austin, TX",6250.0,experience implementing large data processing ...
5139,research engineering/ scientist associate i (e...,University of Texas at Austin,Austin,"Austin, TX",4166.0,software or data carpentry concepts; data fram...
5142,research engineering/ scientist associate i (e...,University of Texas at Austin,Austin,"Austin, TX",4166.0,software or data carpentry concepts; collabora...
5151,social science/humanities research associate v...,University of Texas at Austin,Austin,"Austin, TX",5666.0,analyze data using tableau; the survey coordin...
5249,research associate,Unigen,Seattle,"Seattle, WA 98121 (Belltown area)",20.0,assist scientists in writing technical reports...
5260,digital signal processing/dsp engineer - contract,Vertisystem,Seattle,"Redmond, WA",70.0,"work with research scientists, acoustic engine..."
6232,clinical laboratory scientist i (blood bank),Los Angeles County Department of Human Resources,Los+Angeles,"Los Angeles, CA",7046.0,"enters test results, quality control and impro..."
6303,data scientist / analyst,Platinum Enterprise Solutions,Los+Angeles,"Los Angeles, CA 90001",50.0,data scientist/analyst6+ months contractplaya ...
7635,hsc sr research scientist,Texas Tech Univ Health Sciences Ctr,Dallas,"Dallas-Fort Worth, TX",4000.0,assist with all aspects of data collection. co...
7750,"senior data scientist - dallas,tx",Themesoft Inc,Dallas,"Dallas, TX",50.0,senior data scientist *location:. experience w...
7952,corporate research analyst,DiscoverOrg,Portland%2COR,"Vancouver, WA",15.0,"verify entered data by reviewing, deleting, or..."
7971,"senior analyst, load research (r17-196)",Portland General Electric,Portland%2COR,"Portland, OR 97204 (Downtown area)",3378.0,maintain large databases and data sets. manipu...
7995,subject matter expert/artificial intelligence,Staff Finders Technical Inc,Portland%2COR,"Hillsboro, OR",70.0,create technical content to support software d...
8057,office assistant/receptionist sr.,Arizona State University,Phoenix,"Tempe, AZ",19200.0,collects data to maintain such records. enters...
8078,customer service / research analyst,All About People,Phoenix,"Phoenix, AZ 85007 (Central City area)",13.0,"enter data, compiles and compose data reports...."
8588,data analyst oil and gas market research exper...,Adecco: USA,Houston,"Spring, TX",55.0,demonstrated experience in creating growth and...
8705,data analysis intern,hear.com,Miami,"Miami, FL 33138 (Upper Eastside area)",12.0,"hear.com, the leading innovator in providing m..."
8766,analytical r&d associate scientist 717 (id#014),"The Staffing Resource Group, Inc",Miami,"Miami, FL",25.0,analytical research & development associate sc...
8867,software developer iii,Nextgen Technologies,Boston,"Cambridge, MA",100.0,the candidate will be working with a team of d...
9103,bench scientist i-44402,Makro,Boston,"Andover, MA",39.0,we are looking for a scientist passionate abou...
9425,bench scientist,Fortira,Boston,"Andover, MA",24.0,junior scientist or lab associate. other exper...
9503,scientist ii,Apex Life Sciences,Boston,"Canton, MA",38.0,experience with data bases is a plus. employ i...
10789,associate scientist,Hunter International,San+Diego,"San Diego, CA",28.0,compile data and records results. analyzes dat...
11043,associate scientist,On-Board Services,Baltimore,"Sparks, MD",15.0,works with sap enterprise system to enter labo...
11403,machine learning engineer,Consultative Search Group,San+Jose,"Santa Clara, CA",85.0,data mining and machine learning experience in...
11575,data scientist (contract-to-hire),Jobspring Partners,San+Jose,"San Jose, CA 95113 (Downtown area)",80.0,experience with data modeling. a scaling start...
11756,"administrative assistant - pleasanton, ca","Q-Chem, Inc.",San+Jose,"Pleasanton, CA 94588",17.0,candidate must have earned a high school diplo...
12037,senior data scientist (contract),Workbridge Associates,San+Jose,"San Jose, CA 95113 (Downtown area)",100.0,an industry-leading human resources software s...
12177,part time marketing intern,"eComtics, Inc",San+Jose,"Cupertino, CA 95014",12.0,"no data scientist, engineers, operation team a..."
12928,clinical data analyst/scientist/engineer,Volt Workforce Solutions,Minneapolis,"Saint Paul, MN",35.0,"under direction, the candidate will process da..."
12930,legal research analyst,Thomson Reuters,Minneapolis,"Eagan, MN",23.0,the legal research analyst position is primari...
12941,senior legal research analyst,V-Soft,Minneapolis,"Eagan, MN",41.0,actual title: legal research analyst - senior ...
12968,technician i,Volt Workforce Solutions,Minneapolis,"Maplewood, MN",17.0,record data and results in electronic format; ...
13195,facilities intern,Natural Resources Defense Council,Washington+City%2CDC,"Washington, DC",15.0,"maintain data bases, paper and electronic fili..."
13575,payroll support associate at epa,Oak Ridge Associated Universities,Washington+City%2CDC,"Washington, DC",22.0,performing data entry in various ord and agenc...
13713,research analyst (vaccines),Johnson Service Group Inc.,Washington+City%2CDC,"Rockville, MD 20850",49.0,provide effort & cost benchmarking & insights ...
13892,research analyst with pharma exp.,Johnson Service Group Inc.,Washington+City%2CDC,"Rockville, MD 20850",49.0,provide effort & cost benchmarking & insights ...

In [85]:
from sklearn.feature_extraction.text import CountVectorizer

# Initialize the "CountVectorizer" object, which is scikit-learn's
# bag of words tool.  
vectorizer = CountVectorizer(analyzer = "word",   \
                             tokenizer = None,    \
                             preprocessor = None, \
                             stop_words = 'english',   \
                             max_features = 5000) 

# fit_transform() does two functions: First, it fits the model
# and learns the vocabulary; second, it transforms our training data
# into feature vectors. The input to fit_transform should be a list of 
# strings.
train_data_features = vectorizer.fit_transform(jobs.summary)

# Numpy arrays are easy to work with, so convert the result to an 
# array
train_data_features = train_data_features.toarray()
print train_data_features

[[0 0 0 ..., 0 0 0]
 [0 0 0 ..., 0 0 0]
 [0 0 0 ..., 1 0 0]
 ...,
 [0 0 0 ..., 0 0 0]
 [0 0 0 ..., 0 0 0]
 [0 0 0 ..., 0 0 0]]

In [86]:
vocab = vectorizer.get_feature_names()

print vocab

[u'10', u'100', u'1099', u'110k', u'12', u'1301', u'130k', u'140k', u'1500', u'160k', u'18', u'300', u'360', u'3yrs', u'40', u'41', u'500', u'60', u'65', u'7905', u'80', u'94080', u'_big', u'_machine', u'ability', u'able', u'absolute', u'academic', u'acceleration', u'acceptable', u'access', u'accomplished', u'accordance', u'according', u'account', u'accounting', u'accounts', u'accredited', u'accumulate', u'accuracy', u'accurate', u'accurately', u'acoustic', u'acquisition', u'act', u'acting', u'action', u'activities', u'actual', u'ada', u'add', u'additional', u'additionally', u'address', u'administration', u'administrative', u'administrator', u'advance', u'advanced', u'advancing', u'advices', u'advisor', u'agency', u'aggregation', u'agile', u'ai', u'aid', u'aim', u'air', u'aircraft', u'algorithms', u'allows', u'alternative', u'alteryx', u'altimetry', u'amended', u'americans', u'aml', u'amounts', u'amt', u'analyses', u'analysis', u'analyst', u'analyst6', u'analysts', u'analytic', u'analytical', u'analytics', u'analyze', u'analyzes', u'analyzing', u'anatomical', u'angeles', u'animal', u'announcement', u'annual', u'answer', u'apache', u'api', u'apkarian', u'applicant', u'applicants', u'application', u'applications', u'applied', u'apply', u'applying', u'appoint', u'appointments', u'appreciation', u'approaches', u'appropriate', u'approved', u'aquatic', u'arcgis', u'architect', u'archive', u'archiving', u'area', u'areas', u'art', u'artificial', u'aspects', u'assay', u'assess', u'assesses', u'assessment', u'assets', u'assigned', u'assigns', u'assist', u'assistance', u'assistant', u'assistants', u'assisting', u'assists', u'associate', u'associates', u'assume', u'atlanta', u'atmospheric', u'attributes', u'audiences', u'aus', u'austin', u'automated', u'available', u'aviation', u'background', u'backup', u'bank', u'base', u'based', u'bases', u'basic', u'basis', u'baxalta', u'beaverton', u'becker', u'behavior', u'behavioral', u'bench', u'benchmark', u'benchmarking', u'bent', u'best', u'better', u'bi', u'big', u'billing', u'biochemical', u'bioinformatics', u'biological', u'biology', u'biomarker', u'biomedical', u'biopsy', u'biostatistics', u'bleeding', u'board', u'bonus', u'brand', u'bricks', u'bring', u'bringing', u'brings', u'broad', u'brokers', u'budget', u'budgets', u'build', u'building', u'bunch', u'bureau', u'bureaus', u'business', u'businesses', u'ca', u'caching', u'caffe', u'calculating', u'calculus', u'california', u'callers', u'camera', u'campaigns', u'cancer', u'candidate', u'candidates', u'cao', u'capability', u'capacity', u'care', u'carpentry', u'cases', u'catalist', u'cdc', u'cds', u'cell', u'center', u'centers', u'certain', u'certification', u'certified', u'certifying', u'cgmps', u'chain', u'chair', u'challenge', u'challenges', u'change', u'changes', u'characterizing', u'checking', u'checks', u'chemist', u'chemistry', u'chemists', u'chicago', u'chief', u'chip', u'chromatography', u'cia', u'cir', u'circulates', u'city', u'class', u'classification', u'classifiers', u'classifying', u'cleaning', u'cleanse', u'cleansing', u'clearance', u'clearinghouse', u'client', u'clients', u'clinical', u'clinically', u'closely', u'cloudera', u'cls', u'cluster', u'cms', u'code', u'coder', u'coding', u'collaborate', u'collaborated', u'collaborates', u'collaborating', u'collaboration', u'collaboratively', u'collaborators', u'collect', u'collected', u'collecting', u'collection', u'collects', u'college', u'com', u'combine', u'comes', u'commercial', u'communicate', u'communication', u'communications', u'companies', u'company', u'compares', u'competency', u'compile', u'compiles', u'compiling', u'completeness', u'completing', u'complex', u'compliance', u'component', u'components', u'compose', u'compri', u'computational', u'compute', u'computer', u'computers', u'computing', u'concepts', u'conclusions', u'conduct', u'conducted', u'conducting', u'conducts', u'confer', u'confidence', u'confidentiality', u'configure', u'confirmation', u'conformity', u'conjointly', u'consequences', u'consistent', u'construct', u'construction', u'consultant', u'consultants', u'consulting', u'consumer', u'consumers', u'contact', u'contacts', u'containing', u'content', u'context', u'continue', u'continuously', u'contract', u'contractor', u'contractplaya', u'contribute', u'contributes', u'control', u'conventional', u'conversant', u'conversion', u'convert', u'coordinate', u'coordinates', u'coordinator', u'coordinators', u'core', u'corporation', u'correlates', u'correlations', u'correspondence', u'cost', u'costar', u'council', u'counterparty', u'country', u'cover', u'craft', u'create', u'created', u'creating', u'creation', u'creative', u'creatives', u'credit', u'crime', u'criminal', u'cro', u'crucial', u'cryo', u'culver', u'curation', u'current', u'currently', u'custom', u'customer', u'customers', u'customized', u'cutting', u'cyber', u'dashboard', u'dashboards', u'data', u'database', u'databases', u'datacenter', u'dataset', u'datasets', u'date', u'deadlines', u'decision', u'decisions', u'dedicated', u'dedication', u'deep', u'defense', u'define', u'defining', u'definitions', u'degree', u'deleting', u'deliver', u'delivering', u'delivers', u'demographic', u'demography', u'demonstrate', u'demonstrated', u'deparment', u'department', u'departments', u'dependent', u'depending', u'deploy', u'deployment', u'depth', u'descriptionour', u'design', u'designers', u'designing', u'designs', u'desktop', u'detailed', u'detailing', u'detect', u'detection', u'determination', u'determine', u'determining', u'develop', u'developed', u'developers', u'developing', u'development', u'develops', u'devices', u'dictionary', u'different', u'differential', u'digital', u'diligence', u'diploma', u'direct', u'direction', u'directly', u'director', u'disclosure', u'discovery', u'discrepancies', u'discrete', u'discuss', u'disease', u'display', u'dissemination', u'distributed', u'distribution', u'dive', u'diverse', u'division', u'dl', u'doc', u'docker', u'doctoral', u'doctors', u'document', u'documentation', u'documents', u'domain', u'doors', u'dosing', u'dr', u'drafting', u'draw', u'drinking', u'drive', u'driven', u'drives', u'drug', u'drugs', u'duration', u'duties', u'duty', u'dynamic', u'dynamics', u'eagan', u'early', u'earned', u'ecomtics', u'econometric', u'ecosystem', u'edge', u'edit', u'education', u'educational', u'effective', u'effectively', u'efficiency', u'efficient', u'efficiently', u'effluent', u'effort', u'elasticsearch', u'electron', u'electronic', u'elements', u'eligible', u'elk', u'elucidation', u'em', u'emc', u'emerging', u'emory', u'employ', u'employees', u'employment', u'enable', u'end', u'energy', u'engaged', u'engagements', u'engages', u'engaging', u'engineer', u'engineering', u'engineers', u'enhance', u'enhancements', u'enhances', u'ensure', u'ensures', u'enter', u'entered', u'entering', u'enterprise', u'enterprises', u'enters', u'enthusiastic', u'entry', u'envelopment', u'environment', u'environmental', u'epa', u'epic', u'epidemiologic', u'epidemiological', u'epidemiology', u'equations', u'equipment', u'errors', u'especially', u'essential', u'establish', u'estate', u'estimations', u'ethical', u'etl', u'etrack', u'evaluate', u'evaluates', u'evaluating', u'evaluation', u'evaluations', u'evenings', u'eventual', u'evidence', u'examination', u'examine', u'excel', u'excellent', u'exciting', u'exclusive', u'execute', u'execution', u'executive', u'existing', u'expected', u'experience', u'experienced', u'experiences', u'experiment', u'experimental', u'experimentation', u'experiments', u'expert', u'expertise', u'experts', u'exploit', u'exploration', u'exploratory', u'explore', u'exponentially', u'export', u'exposure', u'express', u'expression', u'extends', u'extensive', u'external', u'extract', u'extracting', u'extraction', u'extracts', u'extremely', u'facilitate', u'facility', u'facing', u'faculty', u'familiarity', u'familiarization', u'fast', u'fcs', u'field', u'fielding', u'fields', u'figure', u'figures', u'files', u'filing', u'final', u'financial', u'findings', u'fine', u'firm', u'fix', u'flow', u'flowjo', u'focus', u'follow', u'following', u'follows', u'food', u'football', u'forecasting', u'forensic', u'form', u'format', u'formation', u'formats', u'forms', u'formulating', u'fortune', u'foundations', u'founder', u'fpga', u'framework', u'frameworks', u'francisco', u'fraud', u'fremont', u'frequency', u'frontline', u'function', u'functional', u'functions', u'fund', u'funded', u'funding', u'fuse', u'future', u'ga', u'gain', u'game', u'gather', u'gathering', u'gavin', u'gen', u'gene', u'general', u'generate', u'generates', u'generating', u'generation', u'genetically', u'genomic', u'geo', u'geographic', u'geographical', u'geology', u'geospatial', u'getting', u'global', u'globally', u'gnss', u'goals', u'good', u'governance', u'graduate', u'grant', u'grantplan', u'graphic', u'graphical', u'graphing', u'graphpad', u'graphs', u'grids', u'ground', u'grounded', u'group', u'groups', u'grow', u'growing', u'growth', u'guidance', u'guidelines', u'hadoop', u'half', u'handle', u'handling', u'handwritten', u'hardware', u'hazard', u'hazardous', u'hbase', u'hdfs', u'head', u'health', u'healthcare', u'hear', u'hearing', u'hello', u'help', u'helpful', u'helping', u'helps', u'hidden', u'high', u'higher', u'hire', u'hiring', u'historical', u'hitachi', u'hive', u'hmc', u'holders', u'home', u'hopkins', u'hospital', u'hosted', u'hourly', u'hours', u'house', u'hplc', u'hr', u'htn', u'huge', u'human', u'humans', u'hunt', u'hw', u'hybrid', u'hydrologic', u'hyperion', u'hyperscale', u'hypotheses', u'hypothesis', u'id', u'ideal', u'ideally', u'ideas', u'identify', u'iii', u'image', u'images', u'imaging', u'immediate', u'imminent', u'immunotherapies', u'impala', u'imperfect', u'implantation', u'implement', u'implementation', u'implementing', u'implements', u'import', u'improve', u'improvement', u'incentives', u'include', u'included', u'includes', u'including', u'incoming', u'incomplete', u'inconsistent', u'incorporation', u'increase', u'incumbent', u'independently', u'indexing', u'individual', u'industry', u'inferences', u'inform', u'informatics', u'information', u'informed', u'infrastructure', u'initial', u'initiative', u'initiatives', u'innovating', u'innovation', u'innovative', u'innovator', u'insight', u'insights', u'inspect', u'instructed', u'instructor', u'instrumental', u'instrumentation', u'instruments', u'insurance', u'integral', u'integrated', u'integration', u'integrity', u'intel', u'intelligence', u'interact', u'interaction', u'interactive', u'interested', u'interface', u'interfacing', u'intergrity', u'internal', u'international', u'internet', u'interns', u'internship', u'interpersonal', u'interpret', u'interpretation', u'interpreting', u'interrogate', u'introduce', u'inventory', u'investigation', u'investigator', u'investigators', u'investment', u'investments', u'involve', u'involved', u'involving', u'ipeds', u'isolate', u'isotope', u'issued', u'issues', u'jails', u'java', u'javascript', u'job', u'johns', u'johnson', u'join', u'joining', u'joins', u'journal', u'junior', u'jupyter', u'justifications', u'kafka', u'keeping', u'kenneth', u'key', u'keyboard', u'know', u'knowledge', u'known', u'kyc', u'lab', u'laboratory', u'lakes', u'land', u'language', u'languages', u'large', u'latency', u'law', u'lay', u'lead', u'leader', u'leadership', u'leading', u'learing', u'learn', u'learning', u'legal', u'level', u'leverage', u'leveraging', u'liason', u'liberty', u'librarian', u'libraries', u'license', u'life', u'like', u'limit', u'limited', u'line', u'liquid', u'literature', u'lives', u'll', u'load', u'loading', u'located', u'location', u'logical', u'logstash', u'longitudinal', u'looking', u'loop', u'los', u'low', u'machine', u'maintain', u'maintaining', u'maintains', u'maintenance', u'major', u'majority', u'make', u'makers', u'makes', u'making', u'manage', u'management', u'manager', u'managers', u'manages', u'managing', u'manipulate', u'manipulating', u'manipulation', u'manner', u'manuals', u'manuscript', u'map', u'maplewood', u'mapreduce', u'maps', u'market', u'marketing', u'markets', u'mass', u'massive', u'master', u'masters', u'material', u'materials', u'mathematical', u'mathematics', u'matlab', u'maven', u'max', u'mch', u'measurement', u'medcillary', u'media', u'medical', u'medicine', u'meet', u'meetings', u'member', u'members', u'mentor', u'message', u'metadata', u'methodologic', u'methodological', u'methodologies', u'methodology', u'methods', u'metrics', u'metropolitan', u'microdata', u'microscope', u'microscopy', u'microsoft', u'mid', u'middlewares', u'million', u'minimal', u'mining', u'missing', u'mission', u'mix', u'ml', u'mn', u'mode', u'model', u'modeler', u'modeling', u'models', u'moderately', u'modern', u'modified', u'modifying', u'molecule', u'monitor', u'monitoring', u'month', u'months', u'movement', u'mpd', u'ms', u'mt', u'multiple', u'naloxone', u'names', u'nation', u'national', u'nationally', u'natural', u'navigate', u'navigator', u'near', u'necessary', u'need', u'needed', u'needs', u'netapp', u'networked', u'networks', u'neural', u'new', u'ngs', u'nice', u'nifi', u'nih', u'nlp', u'noise', u'non', u'normal', u'north', u'notebook', u'novel', u'nrdc', u'numbers', u'numerical', u'nyc', u'oakland', u'objective', u'objectives', u'observations', u'observe', u'obtain', u'obtained', u'octri', u'od', u'ofe', u'offered', u'offers', u'office', u'offices', u'oncogenomic', u'online', u'open', u'opencv', u'opening', u'operation', u'operational', u'operations', u'opportunities', u'opportunity', u'optical', u'optimize', u'optimized', u'optimizing', u'options', u'oral', u'orbit', u'ord', u'order', u'organization', u'organize', u'organizing', u'outcome', u'outcomes', u'outlook', u'overdose', u'oversee', u'overview', u'pa', u'paced', u'package', u'packages', u'paid', u'paper', u'participate', u'participates', u'particularly', u'partner', u'partnership', u'pass', u'passionate', u'pathologists', u'pathology', u'patient', u'patients', u'patrol', u'patterns', u'pay', u'payable', u'payments', u'payroll', u'peer', u'pentaho', u'perform', u'performance', u'performant', u'performing', u'performs', u'perl', u'perm', u'permanent', u'permit', u'person', u'personal', u'pertaining', u'ph', u'phd', u'phenotypic', u'philadelphia', u'phosphorus', u'physical', u'physician', u'pig', u'pipelines', u'place', u'plan', u'planners', u'planning', u'plans', u'plant', u'plate', u'platform', u'platforms', u'plotting', u'plus', u'point', u'police', u'policies', u'policy', u'portal', u'portfolio', u'position', u'positions', u'possess', u'post', u'postings', u'power', u'powerpoint', u'ppc', u'practical', u'practice', u'practices', u'pre', u'predict', u'predicting', u'prediction', u'predictions', u'predictive', u'predictors', u'preferred', u'preparation', u'prepare', u'prepares', u'preparing', u'prescribes', u'prescriptive', u'present', u'presentations', u'presenting', u'prevention', u'previous', u'pricing', u'primarily', u'primary', u'principal', u'principals', u'principles', u'prior', u'priorities', u'prioritize', u'prism', u'probability', u'problem', u'problems', u'procedure', u'procedures', u'process', u'processes', u'processing', u'produce', u'product', u'products', u'professional', u'professionals', u'proficiency', u'proficient', u'profiles', u'program', u'programmatic', u'programmers', u'programming', u'programs', u'progression', u'project', u'projects', u'prominent', u'promote', u'proper', u'properties', u'proposals', u'propose', u'proprietary', u'prosecuting', u'protecting', u'protection', u'protein', u'proteomics', u'protocol', u'protocols', u'prototype', u'proven', u'provide', u'provider', u'provides', u'providing', u'psychiatry', u'psychoacoustics', u'public', u'publications', u'purification', u'purpose', u'purposes', u'python', u'qa', u'qm', u'qualifications', u'qualified', u'qualitative', u'quality', u'quantitative', u'quarterly', u'queries', u'querying', u'questions', u'queuing', u'quickly', u'radio', u'radiogenic', u'radiologist', u'range', u'ranges', u'rapid', u'rapidly', u'rate', u'rates', u'ratings', u'rc4wd', u'reader', u'reading', u'real', u'realistic', u'receive', u'receiving', u'recent', u'recognition', u'recognizes', u'recommendations', u'record', u'recorded', u'recording', u'records', u'recreational', u'reduction', u'regarding', u'regular', u'regularly', u'regulatory', u'related', u'relational', u'relationships', u'relative', u'release', u'releasing', u'relevant', u'remittance', u'remote', u'remotely', u'renewal', u'renowned', u'replacement', u'report', u'reported', u'reporting', u'reports', u'request', u'requests', u'require', u'required', u'requirement', u'requirements', u'research', u'researcher', u'researchers', u'researches', u'researching', u'resection', u'resolve', u'resource', u'resources', u'responding', u'responsibilities', u'responsibility', u'responsible', u'resulting', u'results', u'retrieval', u'retrieve', u'reversal', u'review', u'reviewed', u'reviewing', u'reviews', u'revised', u'revolutionary', u'rich', u'right', u'risk', u'risks', u'river', u'rna', u'role', u'roles', u'routine', u'rows', u'rsa', u'rstp', u'ruby', u'runs', u'sacramento', u'safety', u'said', u'salary', u'sales', u'sample', u'samples', u'sampling', u'san', u'sap', u'sas', u'satellite', u'savvy', u'scala', u'scale', u'scaling', u'scanner', u'scanning', u'sccc', u'scheduling', u'schemas', u'school', u'sci', u'science', u'sciences', u'scientific', u'scientist', u'scientists', u'scikit', u'scipy', u'screening', u'scripting', u'scripts', u'sdlc', u'search', u'searches', u'seasoned', u'seattle', u'secondary', u'section', u'sections', u'security', u'seed', u'seekers', u'seeking', u'seeks', u'segmentation', u'segments', u'selected', u'selection', u'send', u'senior', u'sensor', u'sequence', u'sequencing', u'series', u'serotype', u'servers', u'serves', u'service', u'services', u'serving', u'set', u'sets', u'setting', u'settlement', u'sfe', u'shall', u'shape', u'sharing', u'sharp', u'shire', u'shoots', u'showing', u'shows', u'signal', u'significance', u'significant', u'similar', u'single', u'site', u'sitelock', u'sites', u'skill', u'skilled', u'skills', u'small', u'smart', u'social', u'software', u'soil', u'solid', u'solr', u'solution', u'solutions', u'solve', u'solving', u'sought', u'sound', u'source', u'sources', u'sourcing', u'sp', u'space', u'sparcs', u'spark', u'special', u'specialist', u'specialists', u'specializing', u'specific', u'specifications', u'specified', u'specimens', u'spectrometry', u'spectrum', u'spend', u'sponsor', u'sponsored', u'spreadsheet', u'spreadsheets', u'sql', u'sr', u'stability', u'stable', u'stack', u'staff', u'stage', u'stake', u'standard', u'standardize', u'standards', u'start', u'startup', u'state', u'statewide', u'statistical', u'statistician', u'statisticians', u'statistics', u'stats', u'stealth', u'stem', u'step', u'steps', u'storage', u'stores', u'stories', u'strategies', u'strategists', u'strategy', u'stream', u'streaming', u'strict', u'strides', u'strong', u'strongly', u'structure', u'structures', u'student', u'students', u'studies', u'study', u'submission', u'submissions', u'submitted', u'subordinate', u'subsequent', u'substantive', u'substitute', u'substituted', u'succeed', u'success', u'successful', u'suite', u'summarize', u'summarizing', u'summary', u'supervising', u'supervision', u'supervisor', u'suppliers', u'supply', u'support', u'supporting', u'supports', u'sure', u'surgeons', u'surgical', u'surveillance', u'survey', u'survival', u'svt', u'sw', u'swim', u'synthesis', u'systems', u'tableau', u'talented', u'talking', u'target', u'task', u'tasked', u'tasks', u'tcga', u'team', u'teams', u'tecan', u'tech', u'technical', u'technician', u'technicians', u'techniques', u'technologies', u'technologist', u'technologists', u'technology', u'tekhiring', u'tensoeflow', u'tensorflow', u'terabytes', u'test', u'testing', u'texas', u'theano', u'theory', u'therapy', u'threat', u'throughput', u'tier', u'time', u'timely', u'titer', 

In [84]:
len(vocab)

1717

# Finding Job Titles

In [142]:
def get_jt(page):
    jt = []
    for i in page.find_all(name = 'div', attrs = {'class':'row'}):
        for a in i.find_all(name = 'a', attrs = {'data-tn-element':'jobTitle'}):
            jt.append(a["title"])
    return(jt)
jt = get_jt(page)
jt

[u'Senior Data Scientist',
 u'Research Assistant - Bioelectronic Medicine',
 u'Data Scientist',
 u'Data Scientist',
 u'Data Scientist',
 u'Data Scientist',
 u'Data Scientist',
 u'Data Scientist',
 u'Team Lead Data Scientist - Predictive Analytics',
 u'Data Scientist',
 u'Data Scientist',
 u'Data Analyst',
 u'Software Engineer / Research Scientist - Machine Learning Team',
 u'Lead Data Warehouse Developer/Modeler',
 u'Quantitative Analyst']

# Finding Company Name

In [137]:
def get_comps(page): 
    companies = []
    for div in soup.find_all(name='div', attrs={'class':'row'}):
        company = div.find_all(name='span', attrs={'class':'company'})
        if len(company) > 0:
            for b in company:
                companies.append(b.text.strip())
#         else:
#             sec_try = div.find_all(name='span', attrs={'class':'result-link-source'})
#         for span in sec_try:
#             companies.append(span.text.strip())
    return(companies)
cn = get_comps(page)
cn

[u'HumanEdge',
 u'NYU School of Medicine',
 u'Knewton',
 u'adMarketplace',
 u'Vettery',
 u'HelloFresh',
 u'RangTech',
 u'Grubhub',
 u'Fareportal Inc.',
 u'Lockheed Martin',
 u'POLICE DEPARTMENT',
 u'Indellient',
 u'1010data',
 u'Bloomberg',
 u'Indica Labs']

In [ ]:
# if len(company) > 0:
#             for b in company:
#                 cn.append(b.text.strip())
#         else:
#             sec_try = i.find_all(name= 'span', attrs={'class':'result-link-source'})
#         for span in sec_try:

# Location

In [109]:
def get_locs(soup): 
    locations = []
    spans = page.findAll('span', attrs={'class': 'location'})
    for span in spans:
        locations.append(span.text)
    return(locations)
get_locs(page)

[u'New York, NY',
 u'Manhasset, NY 11030',
 u'New York, NY',
 u'New York, NY',
 u'New York, NY',
 u'New York, NY',
 u'New York, NY',
 u'New York, NY',
 u'New York, NY',
 u'New York, NY 10020 (Midtown area)',
 u'Owego, NY 13827',
 u'New York, NY',
 u'New York, NY',
 u'New York, NY',
 u'New York, NY 10016']

# Salary

In [139]:
def get_salary(page): 
    salaries = []
    for div in page.find_all(name='div', attrs={'class':'row'}):
        try:
            salaries.append(div.find('nobr').text)
        except:
            try:
                div_two = div.find(name='div', attrs={'class':'sjcl'})
                div_three = div_two.find('div')
                salaries.append(div_three.text.strip())
            except:
                salaries.append('NA')
    return(salaries)
js = get_salary(page)
js

[u'$150,000 - $250,000 a year',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 u'$125,000 - $175,000 a year']

# Job Summary

In [154]:
print type(jt)
print type(cn)
print type(js)

<type 'list'>
<type 'list'>
<type 'list'>

In [156]:
jobs = []

jobs = pd.DataFrame({'title':jt,
                     'company':cn,
                     'salary':js}, columns= ['title','company','salary'])
jobs

,title,company,salary
0,Senior Data Scientist,HumanEdge,"$150,000 - $250,000 a year"
1,Research Assistant - Bioelectronic Medicine,NYU School of Medicine,NA
2,Data Scientist,Knewton,NA
3,Data Scientist,adMarketplace,NA
4,Data Scientist,Vettery,NA
5,Data Scientist,HelloFresh,NA
6,Data Scientist,RangTech,NA
7,Data Scientist,Grubhub,NA
8,Team Lead Data Scientist - Predictive Analytics,Fareportal Inc.,NA
9,Data Scientist,Lockheed Martin,NA
10,Data Scientist,POLICE DEPARTMENT,NA
11,Data Analyst,Indellient,NA
12,Software Engineer / Research Scientist - Machi...,1010data,NA
13,Lead Data Warehouse Developer/Modeler,Bloomberg,NA
14,Quantitative Analyst,Indica Labs,"$125,000 - $175,000 a year"

# Code from Michael Salmon

In [34]:
## YOUR CODE HERE
#scraping code:
city_set = ['New York']
start = '10'
max_results_per_city = 10
sample_df = pd.DataFrame()


for city in city_set:
  for start in range(0, max_results_per_city, 10):
    page = requests.get('http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=' 
                        + str(city) + '&start=' + str(start))
    time.sleep(1)  #ensuring at least 1 second between page grabs
    soup = BeautifulSoup(page.text, 'lxml', from_encoding='utf-8')
    for div in soup.find_all(name='div', attrs={'class':'row'}): 
    #specifying row num for index of job posting in dataframe
        num = (len(sample_df) + 1) 
    #creating an empty list to hold the data for each posting
        job_post = [] 
    #append city name
        job_post.append(city) 
    #grabbing job title
        for a in div.find_all(name='a', attrs={'data-tn-element':'jobTitle'}):
            job_post.append(a['title']) 
    #grabbing company name
        company = div.find_all(name='span', attrs={'class':'company'}) 
        if len(company) > 0: 
            for b in company:
                job_post.append(b.text.strip()) 
        else: 
            sec_try = div.find_all(name='span', attrs={'class':'result-link-source'})
            for span in sec_try:
                job_post.append(span.text) 
    #grabbing location name
        c = div.findAll('span', attrs={'class': 'location'}) 
        for span in c: 
            job_post.append(span.text) 
    #grabbing summary text
        d = div.findAll('span', attrs={'class': 'summary'}) 
        for span in d:
            job_post.append(span.text.strip()) 
    #grabbing salary
        try:
            job_post.append(div.find('nobr').text) 
        except:
            try:
                div_two = div.find(name='div', attrs={'class':'sjcl'}) 
                div_three = div_two.find('div') 
                job_post.append(div_three.text.strip())
            except:
                job_post.append('Nothing_found') 
    #appending list of job post info to dataframe at index num
            sample_df.loc[num] = job_post
#saving sample_df as a local csv file — define your own local path to save contents 
sample_df.to_csv('C://Users/baurjansafi/Downloands/df.csv', encoding='utf-8')

ValueError: cannot set a frame with no defined columns

Let's look at one result more closely. A single result looks like
```JSON
<div class=" row result" data-jk="2480d203f7e97210" data-tn-component="organicJob" id="p_2480d203f7e97210" itemscope="" itemtype="http://schema.org/JobPosting">
<h2 class="jobtitle" id="jl_2480d203f7e97210">
<a class="turnstileLink" data-tn-element="jobTitle" onmousedown="return rclk(this,jobmap[0],1);" rel="nofollow" target="_blank" title="AVP/Quantitative Analyst">AVP/Quantitative Analyst</a>
</h2>
<span class="company" itemprop="hiringOrganization" itemtype="http://schema.org/Organization">
<span itemprop="name">
<a href="/cmp/Alliancebernstein?from=SERP&campaignid=serp-linkcompanyname&fromjk=2480d203f7e97210&jcid=b374f2a780e04789" target="_blank">
    AllianceBernstein</a></span>
</span>
<tr>
<td class="snip">
<nobr>$117,500 - $127,500 a year</nobr>
<div>
<span class="summary" itemprop="description">
C onduct quantitative and statistical research as well as portfolio management for various investment portfolios. Collaborate with Quantitative Analysts and</span>
</div>
</div>
</td>
</tr>
</table>
</div>
```

While this has some more verbose elements removed, we can see that there is some structure to the above:
- The salary is available in a nobr element inside of a td element with class='snip.
- The title of a job is in a link with class set to jobtitle and a data-tn-element="jobTitle.
- The location is set in a span with class='location'.
- The company is set in a span with class='company'.

## Write 4 functions to extract these items (one function for each): location, company, job title, and salary.¶
Example
```python
def extract_location_from_result(result):
    return result.find ...
```

##### - Make sure these functions are robust and can handle cases where the data/field may not be available.
>- Remember to check if a field is empty or None for attempting to call methods on it
>- Remember to use try/except if you anticipate errors.

- **Test** the functions on the results above and simple examples

In [ ]:
## YOUR CODE HERE

Now, to scale up our scraping, we need to accumulate more results. We can do this by examining the URL above.
- "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

There are two query parameters here we can alter to collect more results, the l=New+York and the start=10. The first controls the location of the results (so we can try a different city). The second controls where in the results to start and gives 10 results (thus, we can keep incrementing by 10 to go further in the list).
##### Complete the following code to collect results from multiple cities and starting points.
- Enter your city below to add it to the search
- Remember to convert your salary to U.S. Dollars to match the other cities if the currency is different

In [ ]:
YOUR_CITY = ''

In [ ]:
url_template = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l={}&start={}"
max_results_per_city = 100 # Set this to a high-value (5000) to generate more results. 
# Crawling more results, will also take much longer. First test your code on a small number of results and then expand.

results = []

for city in set(['New+York', 'Chicago', 'San+Francisco', 'Austin', 'Seattle', 
    'Los+Angeles', 'Philadelphia', 'Atlanta', 'Dallas', 'Pittsburgh', 
    'Portland', 'Phoenix', 'Denver', 'Houston', 'Miami', YOUR_CITY]):
    for start in range(0, max_results_per_city, 10):
        # Grab the results from the request (as above)
        # Append to the full set of results
        pass

#### Use the functions you wrote above to parse out the 4 fields - location, title, company and salary. Create a dataframe from the results with those 4 columns.

In [ ]:
## YOUR CODE HERE

Lastly, we need to clean up salary data. 

1. Only a small number of the scraped results have salary information - only these will be used for modeling.
1. Some of the salaries are not yearly but hourly or weekly, these will not be useful to us for now
1. Some of the entries may be duplicated
1. The salaries are given as text and usually with ranges.

#### Find the entries with annual salary entries, by filtering the entries without salaries or salaries that are not yearly (filter those that refer to hour or week). Also, remove duplicate entries

In [ ]:
## YOUR CODE HERE

#### Write a function that takes a salary string and converts it to a number, averaging a salary range if necessary

In [ ]:
## YOUR CODE HERE

### Save your results as a CSV

In [ ]:
# Export to csv

## Predicting salaries using Random Forests + Another Classifier

#### Load in the the data of scraped salaries

In [ ]:
## YOUR CODE HERE

#### We want to predict a binary variable - whether the salary was low or high. Compute the median salary and create a new binary variable that is true when the salary is high (above the median)

We could also perform Linear Regression (or any regression) to predict the salary value here. Instead, we are going to convert this into a _binary_ classification problem, by predicting two classes, HIGH vs LOW salary.

While performing regression may be better, performing classification may help remove some of the noise of the extreme salaries. We don't _have_ to choose the `median` as the splitting point - we could also split on the 75th percentile or any other reasonable breaking point.

In fact, the ideal scenario may be to predict many levels of salaries,

In [ ]:
## YOUR CODE HERE

#### Thought experiment: What is the baseline accuracy for this model?

In [ ]:
## YOUR CODE HERE

#### Create a Random Forest model to predict High/Low salary using Sklearn. Start by ONLY using the location as a feature.

In [ ]:
## YOUR CODE HERE

#### Create a few new variables in your dataframe to represent interesting features of a job title.
- For example, create a feature that represents whether 'Senior' is in the title or whether 'Manager' is in the title. 
- Then build a new Random Forest with these features. Do they add any value?
- After creating these variables, use count-vectorizer to create features based on the words in the job titles.
- Build a new random forest model with location and these new features included.

In [ ]:
## YOUR CODE HERE

#### Use cross-validation in scikit-learn to evaluate the model above. 
- Evaluate the accuracy of the model, as well as any other metrics you feel are appropriate.

In [ ]:
## YOUR CODE HERE

#### Repeat the model-building process with a non-tree-based method.

In [ ]:
## YOUR CODE HERE

### BONUS

#### Bonus: Use Count Vectorizer from scikit-learn to create features from the job descriptions. 
- Examine using count or binary features in the model
- Re-evaluate your models using these. Does this improve the model performance? 
- What text features are the most valuable?

In [ ]:
## YOUR CODE HERE